<ion-progress-bar type="indeterminate"  *ngIf="isLoading"></ion-progress-bar>

<ion-content [ngClass]="{ 'remove':isLoading }">
  <div class="center">
    <div class="login">
      <ion-label>Realize o login</ion-label>
    </div>
    <form (submit)="onLogin(loginForm);" #loginForm="ngForm" #authForm="ngForm">
      <ion-list>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input name="userEmail" ngModel type="email" #emailInput="ngModel" placeholder="E-mail" required [clearInput]="true"></ion-input>
          <ion-note slot="helper">Entre com um e-mail valido</ion-note>
          <ion-note slot="error">E-mail inválido</ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input name="password" ngModel type="password" #passwordInput="ngModel" placeholder="Senha" ngModel [clearInput]="true"></ion-input>
          <ion-note slot="helper">Entre com uma senha valida</ion-note>
          <ion-note slot="error">Senha inválida</ion-note>
        </ion-item>

        <div class="forgot">
          <ion-label (click)="forgot();">Esqueceu sua senha?</ion-label>
        </div>

        <ion-button expand="block" color="success" class="enter" type="submit" (click)="error();"
        [disabled]="emailInput.invalid || passwordInput.invalid">Acessar</ion-button>
      </ion-list>
    </form>
    <ion-label class="error" *ngIf="message">Email ou senha estão incorretos!</ion-label>
    <div class="img">
      <ion-img width="50" height="50" src="../../../assets/icon/login.png"></ion-img>
    </div>
  </div>
</ion-content>
