<ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>

<ion-content *ngIf="!isLoading">
    <form #frm="ngForm" (ngSubmit)="ngSubmit(frm);">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="light" (click)="close();">Cancelar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button color="light" type="submit" [disabled]="titleEdtFormat === '- CONCLUÍDO'">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-item style="display: none;">
        <ion-input type="txt" name="idChart" value="{{this.user}}" [(ngModel)]="user"></ion-input>
        <ion-input type="text" name="endTime" value="{{this.endTime}}" [(ngModel)]="endTime"></ion-input>
        <ion-input type="text" value="{{ id }}" name="idEdt" [(ngModel)]="id"></ion-input>
        <ion-input type="text" value="{{ user }}" name="userEdt" [(ngModel)]="user"></ion-input>
        <ion-input type="text" value="{{ title }}" name="titleEdt" [(ngModel)]="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea rows="20" cols="20" maxlength="418" name="treatment" placeholder="Digite um comentário..." [(ngModel)]="events.treatment"></ion-textarea>      </ion-item>
    </form>
    <ion-item>
      <ion-buttons slot="end">
        <ion-button [disabled]="titleEdtFormat === '- CONCLUÍDO'" (click)="clear();">Limpar</ion-button>
      </ion-buttons>
    </ion-item>
</ion-content>
