ion-toolbar {
  --background: #2dd36f !important;
}

.agendar {
  color: white;
  font-weight: bold;
  float: right !important;
  font-size: 1.5rem;
}

.avatarId {
  margin-top: 10px !important;
  margin: auto;
  height: 40%;
  width: 40%;
}

ion-spinner {
  margin: auto;
  color: #2dd36f !important;
}

input {
  outline: none !important;
  border: none !important;
  margin-bottom: 0.5rem !important;
  width: 100% !important;
}

.circulo {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
  border: 2px solid #2dd36f !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.lime {
  background-color: whitesmoke !important;
}

h2 {
  // margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: #2dd36f !important;
}

ion-progress-bar {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  size: 2rem;
  color: #2dd36f !important;
}

.cheked {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  margin: 4%;
}
