<div *ngIf="!userIsAuthenticated">
  <div class="img">
    <ion-img width="50" height="50" src="../../../assets/icon/denied.png"></ion-img>
  </div>
</div>

<ion-progress-bar type="indeterminate" *ngIf="isLoading && userIsAuthenticated"></ion-progress-bar>

<ion-header *ngIf="!isLoading && userIsAuthenticated">
  <ion-toolbar>
    <ion-title class="agendar">
      Pagamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-img class="img" width="80" height="80" src="../../../assets/icon/transactions.png"></ion-img> -->


<ion-content *ngIf="!isLoading && userIsAuthenticated">

  <!--  <ion-item>
    <ion-label>CPF</ion-label>
    <ion-input type="number" max="14" [(ngModel)]="package.cpf"></ion-input>

    <ion-chip style="display: none;">
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Anderson</ion-label>
      <ion-icon name="close-circle"></ion-icon>
      <div class="paciente">
        <ion-input type="text" [(ngModel)]="package.user"></ion-input>
        <ion-input type="text" [(ngModel)]="package.name"></ion-input>
        <ion-input type="text" [(ngModel)]="package.email"></ion-input>
      </div>
    </ion-chip>
  </ion-item> -->
  <ion-label position="stacked" class="cheked">*Todos os compos são obrigatórios</ion-label>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Paciente*</ion-label>
      <ion-select interface="action-sheet" placeholder="Paciente" [(ngModel)]="package.user" [(ngModel)]="packageQte.user" [(ngModel)]="packageTotal.user">
        <div *ngFor="let user of eventSourcess">
          <ion-select-option value="{{ user.user.id }}">{{ user.user.userName }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="fixed">Sessões*</ion-label>
    <ion-input type="number" min="0" [(ngModel)]="package.sessions" [(ngModel)]="packageQte.sessionPatient" [(ngModel)]="packageTotal.sessionPatient"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Valor*</ion-label>
    <ion-input type="number" min="0" placeholder="R$" [(ngModel)]="package.value"></ion-input>
  </ion-item>

  <ion-list>
    <ion-radio-group [(ngModel)]="package.pay" (keyup)="calcSale();">
      <ion-list-header>
        <ion-label>
          Forma de Pagamento*
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Cartão de Crédito</ion-label>
        <ion-radio value="credito" (click)="calcSale();"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Cartão de Débito</ion-label>
        <ion-radio value="debito" (click)="calcSale();"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Pagamento em Dinheiro</ion-label>
        <ion-radio value="dinheiro" (click)="calcSale();"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-item class="venda">
    <ion-label class="total">Total da venda</ion-label>
    <ion-input style="display: none;" slot="end" type="number" min="0" [(ngModel)]="package.total" readonly>{{ this.valueTotal }}</ion-input>
    <!-- <ion-input *ngIf="this.valueTotalFormated <= '1'" slot="end" type="number" min="0" readonly>R$ {{ this.valueTotalFormated }} real</ion-input>
    <ion-input *ngIf="this.valueTotalFormated >= '2'" slot="end" type="number" min="0" readonly>R$ {{ this.valueTotalFormated }} reais</ion-input> -->
  </ion-item>

  <ion-button expand="block" type="submit" (click)="sales(); clearCash(); session(); start();"
  [disabled]="package.user.length === 0 || package.sessions.length === 0 || package.value.length === 0 || package.pay.length === 0">
  Concluir</ion-button>



</ion-content>
