ion-toolbar {
  --background: #2dd36f !important;
}

.agendar {
  color: white;
  font-weight: bold;
  float: right !important;
  font-size: 1.5rem;
}

.privacy {
  margin-top: 2rem !important;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decleration {
  margin-top: 1rem;
  margin: 5%;
  text-align: justify;
}
