<ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>

<ion-header *ngIf="!isLoading">
  <ion-toolbar>
    <ion-title class="agendar">Vendas</ion-title>
    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/clinica/tab1">Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-spinner name="circles" *ngIf="isLoading"></ion-spinner> -->

<ion-content *ngIf="!isLoading">

  <!-- <div>
    <ion-label>Outubro</ion-label><br><br>
  </div> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Crédito</ion-card-title>
    </ion-card-header>

    <div class="box">
      <ion-label>Total de Hoje {{ this.credit }}, valor R$ {{ this.creditTotalDay }} reais</ion-label><br>
      <ion-label>Total do mês {{ this.creditTotal }}, valor R$ {{ this.creditTotalMonth }} reais</ion-label>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Débito</ion-card-title>
    </ion-card-header>

    <div class="box">
      <ion-label>Total de Hoje {{ this.debt }}, valor R$ {{ this.debtTotalDay }} reais</ion-label><br>
      <ion-label>Total do mês {{ this.debtTotal }}, valor R$ {{ this.debtTotalMonth }} reais</ion-label>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Dinheiro</ion-card-title>
    </ion-card-header>

    <div class="box">
      <ion-label>Total de Hoje {{ this.money }}, valor R$ {{ this.moneyTotalDay }} reais</ion-label><br>
      <ion-label>Total do mês {{ this.moneyTotal }}, valor R$ {{ this.moneyTotalMonth }} reais</ion-label>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon name="eye-outline" slot="end" routerLink="/cash-details"></ion-icon>
        <ion-card-title>Total de vendas</ion-card-title>
      </ion-item>
    </ion-card-header>

    <div class="box">
      <ion-label>Total de Hoje {{ this.totalDay }}, valor R$ {{ this.totalDayValue }} reais</ion-label><br>
      <ion-label>Total do mês {{ this.totalMonth }}, valor R$ {{ this.totalMonthValue }} reais</ion-label>
    </div>
  </ion-card>
</ion-content>
