
<ion-progress-bar type="indeterminate" *ngIf="isLoading && userIsAuthenticated"></ion-progress-bar>

<ion-header *ngIf="!isLoading && userIsAuthenticated">
  <ion-toolbar>
    <ion-title class="agendar">
      Suas Compras
    </ion-title>
  </ion-toolbar>
</ion-header>


<div class="noUser" *ngIf="this.eventSource.length <= 0 && !isLoading && userIsAuthenticated">
  <ion-label>Nenhuma compra de pacote de sessões feita</ion-label>
  <ion-img src="../../../assets/icon/sales.png"></ion-img>
</div>

<ion-content *ngIf="this.eventSource.length > 0 && !isLoading && userIsAuthenticated">
  <ion-card *ngFor="let item of eventSource">
    <div>
      <ion-list>
          <ion-item>
            <ion-label>
              <p>Sessões {{ item.sessions }}</p>
              <p>R$ Valor {{ item.value }} reais</p>
              <!-- <p *ngIf="item.value <= '1'">R$ Valor {{ item.value }} real</p> -->
              <p>Pagamento no {{ item.pay }}</p>
              <p>R$ Total {{ item.total }} reais</p>
              <!-- <p *ngIf="item.total <= '1'">R$ Total da compra {{ item.total }} real</p> -->
              <p>Comprado em {{ item.created | date : 'dd-MM-yyyy' }}</p>
            </ion-label>
          </ion-item>
      </ion-list>
    </div>
  </ion-card>
</ion-content>

