<ion-header>
  <ion-toolbar>
    <ion-title class="agendar">
      Suas Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- <div *ngIf="this.saleMonthLength <= 0">
        <ion-label class="cash">Sem histórico de compras</ion-label>
      </div> -->
    <div>
      <ion-list>
          <ion-item>
            <ion-label>
              <p>Sessões</p>
              <p>Valor</p>
              <p>Pagamento no</p>
              <p>Total da compra</p>
              <p>Comprado em</p>
            </ion-label>
          </ion-item>
      </ion-list>
    </div>
  </ion-card>
</ion-content>
