
<ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>

<ion-header *ngIf="!isLoading">
  <ion-toolbar>
    <ion-title class="agendar">
      Suas Compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<div *ngIf="!isLoading">
  <div class="noUser" *ngIf="this.eventSource.length <= 0">
    <ion-label>Nenhuma compra de pacote de sessões feita</ion-label>
    <ion-img src="../../../assets/icon/sales.png"></ion-img>
  </div>

  <ion-content *ngIf="this.eventSource.length > 0">
    <ion-card *ngFor="let item of eventSource">
      <div>
        <ion-list>
            <ion-item>
              <ion-label>
                <p>Sessões {{ item.sessions }}</p>
                <p>Valor {{ item.value }}</p>
                <p>Pagamento no {{ item.pay }}</p>
                <p>Total da compra {{ item.total }}</p>
                <p>Comprado em {{ item.created | date : 'MM-dd-yyyy' }}</p>
              </ion-label>
            </ion-item>
        </ion-list>
      </div>
    </ion-card>
  </ion-content>
</div>
