<ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>

<ion-header *ngIf="!isLoading">
  <ion-toolbar>
    <ion-title class="agendar">Dados Pessoais</ion-title>
    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/fisioterapeuta/tab3">Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading">
  <ion-spinner name="circles" *ngIf="isLoading"></ion-spinner>

  <form #frm="ngForm" (ngSubmit)="ngSubmit(frm)" *ngIf="!isLoading">

    <!-- <ion-avatar slot="start" class="avatarId">
        <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
    </ion-avatar> -->

    <ion-item>
      <div class="circulo lime">
        <h2>{{ this.userNameIdEdt }}</h2>
      </div>
    </ion-item>
    <ion-label position="stacked" class="cheked">*Todos os compos são obrigatórios</ion-label>
    <ion-item style="display: none;">
      <ion-input type="text" name="id" value="{{ this.usersId }}" [(ngModel)]="usersId"></ion-input>
    </ion-item>

    <ion-item style="display: none;">
      <ion-input type="text" name="userPermission" value="{{ this.userPermissionId }}" [(ngModel)]="userPermissionId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nome*</ion-label>
      <ion-input type="text" name="userName" value="{{ this.userNameId }}" [(ngModel)]="userNameId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sobrenome*</ion-label>
      <ion-input type="text" name="userLastName" value="{{ this.userLastNameId }}" [(ngModel)]="userLastNameId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data Nascimento*</ion-label>
      <input type="text" name="userBirth" maxlength="10" placeholder="Ex. 00000000" value="{{ this.birth }}" [(ngModel)]="this.birth">
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone/Celular*</ion-label>
      <input type="text" name="userPhone" maxlength="15" placeholder="Ex. Telefone 1100000000 ou Celular 11000000000" value="{{ this.phone }}" [(ngModel)]="this.phone">
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail*</ion-label>
      <ion-input type="text" name="userEmail" readonly value="{{ this.userEmailId }}" [(ngModel)]="userEmailId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CPF*</ion-label>
      <input type="text" name="userCpf" maxlength="14" placeholder="Ex. 12345678910" value="{{ this.cpf }}" [(ngModel)]="this.cpf">
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Rua/Av</ion-label>
      <ion-input type="text" name="userAddress" value="{{ this.userAddressId }}" [(ngModel)]="userAddressId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Número</ion-label>
      <ion-input type="text" name="userNumber" value="{{ this.userNumberId }}" [(ngModel)]="userNumberId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Complemento</ion-label>
      <ion-input type="text" name="userComplement" value="{{ this.userComplementId }}" [(ngModel)]="userComplementId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cidade</ion-label>
      <ion-input type="text" name="userCity" value="{{ this.userCityId }}" [(ngModel)]="userCityId"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Estado</ion-label>
      <ion-input type="text" name="userState" value="{{ this.userStateId }}" [(ngModel)]="userStateId"></ion-input>
    </ion-item>

    <ion-item style="display: none;">
      <ion-input type="text" name="userPassword" value="{{ this.userPasswordId }}" [(ngModel)]="userPasswordId"></ion-input>
    </ion-item>

    <div class="criar">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="success" type="submit"
            [disabled]="userNameId.length <= 0 || userLastNameId.length <= 0 || userBirthId.length <= 0 || userPhoneId.length <= 0 || userEmailId.length <= 0 || userCpfId.length <= 0"
            ><ion-icon name="pencil-outline" class="icon"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
