ion-toolbar {
  --background: #2dd36f !important;
}

.agendar {
  color: white;
  font-weight: bold;
  float: right !important;
  font-size: 1.5rem;
}

.box {
  margin-left: 5%;
  margin-bottom: 5%;
}

ion-icon {
  color: #2dd36f !important;
  font-size: 20px;
}

.cash {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
