<ion-progress-bar type="indeterminate" *ngIf="isLoading && userIsAuthenticated"></ion-progress-bar>

<ion-header *ngIf="!isLoading && userIsAuthenticated">
  <ion-toolbar>
    <ion-title class="agendar">Detalhes</ion-title>
    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/cash">Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-spinner name="circles" *ngIf="isLoading"></ion-spinner> -->
<ion-searchbar  *ngIf="!isLoading && userIsAuthenticated" placeholder="Pesquise" [(ngModel)]="filter"></ion-searchbar>

<ion-content *ngIf="!isLoading && userIsAuthenticated">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Vendidos hoje</ion-card-title>
    </ion-card-header>
    <div>

      <div *ngIf="this.saleDayLength <= 0">
        <ion-label class="cash">Sem histórico de vendas hoje</ion-label>
      </div>

      <ion-list *ngFor="let item of saleDay">
          <ion-item>
            <!-- <ion-avatar slot="start">
              <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
            </ion-avatar> -->

            <ion-item class="circle">
              <div class="circulo lime">
                <h2 class="h2">{{ item.user.userName.slice(0, 1) }}</h2>
              </div>
            </ion-item>

            <ion-label>
              <h2>{{ item.user.userName }}</h2>
              <p>Sessões {{ item.sessions }}</p>
              <p>R$ Valor {{ item.value }} reais</p>
              <!-- <p *ngIf="item.value <= '1'">R$ Valor {{ item.value }} real</p> -->
              <p>Pagamento no {{ item.pay }}</p>
              <p>R$ Total {{ item.total }} reais</p>
              <!-- <p *ngIf="item.total <= '1'">R$ Total da compra {{ item.total }} real</p> -->
              <p>Comprado em {{ item.created | date : 'dd-mm-yyyy' }}</p>
            </ion-label>
            <div>
              <ion-icon name="trash-outline" slot="end" (click)="onDelete(item._id);"></ion-icon>
            </div>
          </ion-item>
      </ion-list>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Vendidos no mês</ion-card-title>
    </ion-card-header>
    <div>

      <div *ngIf="this.saleMonthLength <= 0">
        <ion-label class="cash">Sem histórico de vendas no mês</ion-label>
      </div>

      <ion-list *ngFor="let item of saleMonth | filter:filter; let i = index">
          <ion-item>
            <!-- <ion-avatar slot="start">
              <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
            </ion-avatar> -->

            <ion-item class="circle">
              <div class="circulo lime">
                <h2 class="h2">{{ item.user.userName.slice(0, 1) }}</h2>
              </div>
            </ion-item>

            <ion-label>
              <h2>{{ item.user.userName }}</h2>
              <p>Sessões {{ item.sessions }}</p>
              <p>R$ Valor {{ item.value }} reais</p>
              <!-- <p *ngIf="item.value <= '1'">R$ Valor {{ item.value }} real</p> -->
              <p>Pagamento no {{ item.pay }}</p>
              <p>R$ Total {{ item.total }} reais</p>
              <!-- <p *ngIf="item.total <= '1'">R$ Total da compra {{ item.total }} real</p> -->
              <p>Comprado em {{ item.created | date : 'dd-MM-yyyy' }}</p>
            </ion-label>
            <div>
              <ion-icon name="trash-outline" slot="end" (click)="onDelete(item._id);"></ion-icon>
            </div>
          </ion-item>
      </ion-list>
    </div>
  </ion-card>
</ion-content>
