@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.init {
  font-weight: bold;
  font-size: 4rem;
  color: #2dd36f !important;
  text-align: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  margin-bottom: 0;
  text-align: center;
  justify-content: center;
}

ion-spinner, ion-progress-bar {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  size: 2rem;
  color: #2dd36f !important;
}

