<ion-header *ngIf="userIsAuthenticated">
  <ion-toolbar>
    <ion-title class="agendar">Privacidade</ion-title>
    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/paciente/tab4">Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-spinner name="circles" *ngIf="isLoading"></ion-spinner> -->

<ion-content *ngIf="userIsAuthenticated">
  <ion-label class="privacy">POLÍTICA DE PRIVACIDADE</ion-label>
  <p class="decleration">A política de privacidade (ou declaração de política de privacidade) é o documento por meio do qual a pessoa física ou jurídica que mantém um site ou aplicativo expõe e explica a todos os interessados a forma como os dados pessoais dos usuários da plataforma serão tratados.

    O assunto é regulamentado, no Brasil, principalmente pela Lei Geral de Proteção de Dados Pessoais (LGPD), lei que estabeleceu uma série de exigências àqueles que realizam operações de tratamento de dados pessoais. A lei se aplica:

    se a operação de tratamento é realizada no território nacional;
    se a atividade de tratamento tem por objetivo a oferta de produtos ou serviços ou o tratamento de dados de indivíduos localizados no território nacional;
    se os dados pessoais são coletados no território nacional.
    Pela lei, dado pessoal é qualquer informação relacionada a pessoa identificada ou identificável.

    A expressão "tratamento de dados pessoais" abrange praticamente tudo aquilo que se pode fazer com estes dados, como as atividades de coleta, produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração.

    Entre as obrigações que a lei impõe a quem realiza qualquer destas atividades, está a de ser transparente. Dessa forma, todo aquele que trata dados pessoais, incluindo os mantenedores de sites ou aplicativos, deve informar os titulares dos referidos dados, por exemplo, acerca da forma como são utilizados e dos motivos pelos quais são tratados.

    Por meio do presente modelo, será possível, dentre outros:

    informar ao usuário do site ou aplicativo quem é o controlador dos dados pessoais, ou seja, quem é a pessoa física ou jurídica que decide o que se faz com os dados coletados, armazenados ou, de qualquer outra forma, utilizados;
    informar ao usuário do site ou aplicativo quais são os dados pessoais coletados e utilizados pelo site ou aplicativo, explicitando os momentos nos quais as coletas são realizadas e as finalidades para as quais os dados são utilizados;
    informar ao usuário quais são seus direitos e as formas pelas quais pode exercê-los;
    informar ao usuário os meios de contato com o Encarregado de Proteção de Dados Pessoais (Data Protection Officer - DPO);
    informar ao usuário quais são as bases legais que fundamentam o tratamento de dados pessoais.
    Este documento não abrange as normas contidas no Regulamento Geral de Proteção de Dados da União Europeia (RGPD ou GDPR).</p>
</ion-content>



