ion-toolbar {
  --background: #2dd36f !important;
}

.agendar {
  color: white;
  font-weight: bold;
  float: right !important;
  font-size: 1.5rem;
}

.privacy {
  margin-top: 2rem !important;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decleration {
  margin-top: 1rem;
  margin: 5%;
  text-align: justify;
}

ion-progress-bar {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  size: 2rem;
  color: #2dd36f !important;
}

.error {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  size: 2rem;
  color: #2dd36f !important;
}
