<ion-content>
  <div class="center">
    <div class="login">
      <ion-label>Nova senha</ion-label>
    </div>
    <div class="text">
      <ion-label>Verifique sua caixa de e-mail!</ion-label><br>
    </div>
    <div class="text">
      <ion-label>Use-o o token para atualizar sua senha</ion-label>
    </div>
    <ion-list>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" placeholder="E-mail"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Token</ion-label>
        <ion-input type="text" placeholder="Token"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" placeholder="Senha"></ion-input>
      </ion-item>

      <ion-button expand="block" color="success" class="enter">Atualizar</ion-button>
    </ion-list>

    <div class="img">
      <ion-img width="50" height="50" src="../../../assets/icon/reset.png"></ion-img>
    </div>
  </div>
</ion-content>

