<ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>

<ion-header *ngIf="!isLoading">
  <ion-toolbar>
    <ion-title class="agendar">
      Cadastrar
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-spinner name="circles"></ion-spinner> -->

<ion-content *ngIf="!isLoading">
  <ion-segment>
    <ion-segment-button (click)="cliente();">
      <ion-label>Paciente</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="administrador();">
      <ion-label>Admin</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="fisioterapeuta();">
      <ion-label>Fisioterapeuta</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- <ion-searchbar id="open-modal" disabled="false" placeholder="Pesquise"></ion-searchbar> -->

  <ion-button color="grey" routerLink="/users" (click)="routerUser();">
    <ion-icon name="search-outline"></ion-icon>
  </ion-button>

  <ion-img *ngIf="!this.paciente && !this.admin && !this.fisio" class="img" width="80" height="80" src="../../../assets/icon/createUser.png"></ion-img>

  <ion-modal slot="top" #modal trigger="open-modal" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="agendar">Usuários</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss(); details(id);">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-searchbar placeholder="Pesquise" *ngIf="!upTitle"></ion-searchbar><br>

        <ion-list *ngFor="let user of users">

          <ion-item *ngIf="!upTitle" (click)="detail = detail == user.id ? '':user.id; up();">

            <ion-avatar slot="start">
              <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
            </ion-avatar>

            <ion-label>
              <h2 *ngIf="!upTitle">{{ user.userName }}</h2>
              <p *ngIf="!upTitle">{{ user.userPermission | titlecase }}</p>
            </ion-label>

          </ion-item>

          <div class="detail" *ngIf="detail == user.id">
            <form #frm="ngForm" (ngSubmit)="ngSubmit(frm)">

              <ion-avatar slot="start" *ngIf="upTitle" class="avatarId">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>

              <ion-item style="display: none;">
                <ion-input type="txt" value="{{ user.id }}" name="id" [(ngModel)]="user.id"></ion-input>
              </ion-item>

              <ion-item style="display: none;">
                <ion-input type="txt" value="{{ user.userPermission }}" name="userPermission" [(ngModel)]="user.userPermission"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Nome</ion-label>
                <ion-input type="txt" value="{{ user.userName }}" name="userName" [(ngModel)]="this.user.userName"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Sobrenome</ion-label>
                <ion-input type="txt" value="{{ user.userLastName }}" name="userLastName" [(ngModel)]="user.userLastName"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Data Nascimento</ion-label>
                <input type="number" value="{{ user.userBirth }}" name="userBirth" maxlength="8" [(ngModel)]="user.userBirth" placeholder="Ex. 00000000">
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Telefone/Celular</ion-label>
                <input type="number" value="{{ user.userPhone }}" maxlength="11" name="userPhone" [(ngModel)]="user.userPhone" placeholder="Ex. Telefone 1100000000 ou Celular 11000000000">
              </ion-item>

              <ion-item>
                <ion-label position="stacked">E-mail</ion-label>
                <ion-input type="email" value="{{ user.userEmail }}" name="userEmail" [(ngModel)]="user.userEmail"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">CPF</ion-label>
                <input type="number" value="{{ user.userCpf }}" maxlength="11" name="userCpf" [(ngModel)]="user.userCpf" placeholder="Ex. 12345678910">
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Rua/Av</ion-label>
                <ion-input type="txt" value="{{ user.userAddress }}" name="userAddress" [(ngModel)]="user.userAddress"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Número</ion-label>
                <ion-input type="txt" value="{{ user.userNumber }}" name="userNumber" [(ngModel)]="user.userNumber"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Complemento</ion-label>
                <ion-input type="txt" value="{{ user.userComplement }}" name="userComplement" [(ngModel)]="user.userComplement"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Cidade</ion-label>
                <ion-input type="txt" value="{{ user.userCity }}" name="userCity" [(ngModel)]="user.userCity"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label position="stacked">Estado</ion-label>
                <ion-input type="txt" value="{{ user.userState }}" name="userState" [(ngModel)]="user.userState"></ion-input>
              </ion-item>

              <div class="criar">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-button expand="block" color="success" type="submit" (click)="detailsBack();">
                        <ion-icon name="pencil-outline" class="icon"></ion-icon>
                      </ion-button>
                    </ion-col>
                    <ion-col>
                      <ion-button expand="block" color="success" type="submit" (click)="onDelete(user.id); detailsBack();">
                        <ion-icon name="trash-bin-outline" class="icon"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </form>
          </div>
        </ion-list>

      </ion-content>
    </ng-template>
  </ion-modal>

  <div class="paciente" *ngIf="paciente" #paciente>
    <ion-label position="stacked" class="cheked">*Todos os compos são obrigatórios</ion-label>
    <ion-item style="display: none;">
      <ion-input type="txt" name="userPermission" [(ngModel)]="pacienteEvent.userPermission"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nome*</ion-label>
      <ion-input type="txt" name="userName" [(ngModel)]="pacienteEvent.userName" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sobrenome*</ion-label>
      <ion-input type="txt"name="userLastName" [(ngModel)]="pacienteEvent.userLastName" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data Nascimento*</ion-label>
      <ion-input type="text" name="userBirth" maxlength="10" [(ngModel)]="pacienteEvent.userBirth" placeholder="Ex. 00000000" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone/Celular*</ion-label>
      <ion-input type="text" name="userPhone" maxlength="15" [(ngModel)]="pacienteEvent.userPhone" placeholder="Ex. Telefone 1100000000 ou Celular 11000000000" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail*</ion-label>
      <ion-input type="email" name="userEmail" [(ngModel)]="pacienteEvent.userEmail" placeholder="Ex. email@domain.com" [clearInput]="true"></ion-input>
      <ion-note slot="helper">Entre com um e-mail valido</ion-note>
      <ion-note slot="error">E-mail já existe na base de dados</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CPF*</ion-label>
      <ion-input type="text" name="userCpf" maxlength="14" [(ngModel)]="pacienteEvent.userCpf" placeholder="Ex. 12345678910" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Rua/Av</ion-label>
      <ion-input type="txt" name="userAddress" [(ngModel)]="pacienteEvent.userAddress" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Número</ion-label>
      <ion-input type="txt" name="userNumber" [(ngModel)]="pacienteEvent.userNumber" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Complemento</ion-label>
      <ion-input type="txt" name="userComplement" [(ngModel)]="pacienteEvent.userComplement" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cidade</ion-label>
      <ion-input type="txt" name="userCity" [(ngModel)]="pacienteEvent.userCity" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Estado</ion-label>
      <ion-input type="txt" name="userState" [(ngModel)]="pacienteEvent.userState" [clearInput]="true"></ion-input>
      <!-- <ion-input style="display: none;" type="text" name="password" [(ngModel)]="pacienteEvent.password">{{ this.userPassword }}</ion-input> -->
    </ion-item>

    <div class="criar">
      <ion-button expand="block" color="success" (click)="createPaciente(); clearPaciente()"
      [disabled]="pacienteEvent.userName.length === 0 || pacienteEvent.userLastName.length === 0 || pacienteEvent.userBirth.length === 0 || pacienteEvent.userPhone.length === 0 || pacienteEvent.userEmail.length === 0 || pacienteEvent.userCpf.length === 0">Criar</ion-button>
    </div>
  </div>

  <div class="admin" *ngIf="admin" #admin>
    <ion-label position="stacked" class="cheked">*Todos os compos são obrigatórios</ion-label>
    <ion-item style="display: none;">
      <ion-input type="txt" name="userPermission" [(ngModel)]="adminEvent.userPermission"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nome*</ion-label>
      <ion-input type="txt" name="userName" [(ngModel)]="adminEvent.userName" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sobrenome*</ion-label>
      <ion-input type="txt" name="userLastName" [(ngModel)]="adminEvent.userLastName" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data Nascimento*</ion-label>
      <ion-input type="text" name="userBirth" maxlength="10" [(ngModel)]="adminEvent.userBirth" placeholder="Ex. 00000000" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone/Celular*</ion-label>
      <ion-input type="text" name="userPhone" maxlength="15" [(ngModel)]="adminEvent.userPhone" placeholder="Ex. Telefone 1100000000 ou Celular 11000000000" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail*</ion-label>
      <ion-input type="email" name="userEmail" [(ngModel)]="adminEvent.userEmail" placeholder="Ex. email@domain.com" [clearInput]="true"></ion-input>
      <ion-note slot="helper">Entre com um e-mail valido</ion-note>
      <ion-note slot="error">E-mail já existe na base de dados</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CPF*</ion-label>
      <ion-input type="text" name="userCpf" maxlength="14" [(ngModel)]="adminEvent.userCpf" placeholder="Ex. 12345678910" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Rua/Av</ion-label>
      <ion-input type="txt" name="userAddress" [(ngModel)]="adminEvent.userAddress" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Número</ion-label>
      <ion-input type="txt" name="userNumber" [(ngModel)]="adminEvent.userNumber" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Complemento</ion-label>
      <ion-input type="txt" name="userComplement" [(ngModel)]="adminEvent.userComplement" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cidade</ion-label>
      <ion-input type="txt" name="userCity" [(ngModel)]="adminEvent.userCity" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Estado</ion-label>
      <ion-input type="txt" name="userState" [(ngModel)]="adminEvent.userState" [clearInput]="true"></ion-input>
    </ion-item>

    <div class="criar">
      <ion-button expand="block" color="success" (click)="createAdmin(); clearAdmin()"
      [disabled]="adminEvent.userName.length === 0 || adminEvent.userLastName.length === 0 || adminEvent.userBirth.length === 0 || adminEvent.userPhone.length === 0 || adminEvent.userEmail.length === 0 || adminEvent.userCpf.length === 0">Criar</ion-button>
    </div>
  </div>

  <div class="fisio" *ngIf="fisio " #fisio>
    <ion-label position="stacked" class="cheked">*Todos os compos são obrigatórios</ion-label>
    <ion-item style="display: none;">
      <ion-input type="txt" name="" [(ngModel)]="fisioEvent.userPermission"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nome*</ion-label>
      <ion-input type="txt" name="userName" [(ngModel)]="fisioEvent.userName" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sobrenome*</ion-label>
      <ion-input type="txt" name="userLastName" [(ngModel)]="fisioEvent.userLastName" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data Nascimento*</ion-label>
      <ion-input type="text" name="userBirth"  maxlength="10" [(ngModel)]="fisioEvent.userBirth" placeholder="Ex. 00000000" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone/Celular*</ion-label>
      <ion-input type="text" name="userPhone" maxlength="15" [(ngModel)]="fisioEvent.userPhone" placeholder="Ex. Telefone 1100000000 ou Celular 11000000000" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail*</ion-label>
      <ion-input type="email" name="userEmail" [(ngModel)]="fisioEvent.userEmail" placeholder="Ex. email@domain.com" [clearInput]="true"></ion-input>
      <ion-note slot="helper">Entre com um e-mail valido</ion-note>
      <ion-note slot="error">E-mail já existe na base de dados</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CPF*</ion-label>
      <ion-input type="text" name="userCpf"  maxlength="14" [(ngModel)]="fisioEvent.userCpf" placeholder="Ex. 12345678910" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Rua/Av</ion-label>
      <ion-input type="txt" name="userAddress" [(ngModel)]="fisioEvent.userAddress" [clearInput]="true">
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Número</ion-label>
      <ion-input type="txt" name="userNumber" [(ngModel)]="fisioEvent.userNumber" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Complemento</ion-label>
      <ion-input type="txt" name="userComplement" [(ngModel)]="fisioEvent.userComplement" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cidade</ion-label>
      <ion-input type="txt" name="userCity" [(ngModel)]="fisioEvent.userCity" [clearInput]="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Estado</ion-label>
      <ion-input type="txt" name="userState" [(ngModel)]="fisioEvent.userState" [clearInput]="true"></ion-input>
    </ion-item>

    <div class="criar">
      <ion-button expand="block" color="success" (click)="createFisio(); clearFisio()"
      [disabled]="fisioEvent.userName.length === 0 || fisioEvent.userLastName.length === 0 || fisioEvent.userBirth.length === 0 || fisioEvent.userPhone.length === 0 || fisioEvent.userEmail.length === 0 || fisioEvent.userCpf.length === 0">Criar</ion-button>
    </div>
  </div>

</ion-content>
