<div style="    
    height: 10%;
    background-color: #2dd36f !important;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
">
    <h2 style="
        margin: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
    ">
        Olá,  {{ name }} anote esta data!
    </h2>
</div>

<strong style="
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #2dd36f !important
">
    Sua sessão de fisioterapia foi alterada para o dia XXXX às xxxxx
</strong>


