<ion-header>
  <ion-toolbar>
    <ion-title class="agendar">
      Prontuário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of eventSource">
    <!-- <div>
      <ion-list>
          <ion-item>

            <ion-avatar slot="start">
              <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
            </ion-avatar>

            <ion-label>
              <h2>Luiz</h2>
              <p>Fisioterapeuta</p>
            </ion-label>

          </ion-item>
      </ion-list>
    </div> -->

    <ion-card-content>{{ item.treatment }}</ion-card-content>
  </ion-card>
</ion-content>
