<div *ngIf="!userIsAuthenticated">
  <div class="img">
    <ion-img width="50" height="50" src="../../../assets/icon/denied.png"></ion-img>
  </div>
</div>

<ion-progress-bar type="indeterminate" *ngIf="isLoading && userIsAuthenticated"></ion-progress-bar>

<ion-header *ngIf="!isLoading && userIsAuthenticated">
  <ion-toolbar>
    <ion-title class="agendar">
      Prontuário
    </ion-title>
  </ion-toolbar>
</ion-header>


<div class="noUser" *ngIf="this.eventSource.length <= 0 && !isLoading && userIsAuthenticated">
  <ion-label>Nenhum comentário adicionado</ion-label>
  <ion-img src="../../../assets/icon/progress.png"></ion-img>
</div>

<ion-content *ngIf="this.eventSource.length > 0 && !isLoading && userIsAuthenticated">
  <ion-card *ngFor="let item of eventSource">
    <ion-card-content>{{ item.treatment }}</ion-card-content>
  </ion-card>
</ion-content>

